<!DOCTYPE html>
<html>

    <head>
        <title>todo list</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>

    <body>
    
    <div class='container'>
        <div class="panel panel-default">
            <div class="panel-body"><h3>TO DO list application</h3></div>
        </div>
    
        {% block content %}
        {% endblock %}
    </div>

        <script src="static/js/jquery-3.2.1.slim.min.js"></script>
        <script src="static/js/popper.min.js" ></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>

</html>
